name: Infrastructure CI Trigger (Terraform Plan)



on:

  push:

    branches: 

      - main



jobs:

  terraform-plan:

    runs-on: ubuntu-latest

    steps:

      - name: Checkout the repo

        uses: actions/checkout@v3



      - name: Setting up the Terraform

        uses: hashicorp/setup-terraform@v3



      - name: Configure with the AWS creds

        uses: aws-actions/configure-aws-credentials@v5.1.1

        with: 

          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID}}

          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

          aws-region: eu-west-1



      - name: Terraform fmt

        run: terraform fmt -recursive



      - name: Terraform init

        run: terraform init -input=false



      - name: Terraform validate

        run: terraform validate -no-color



      - name: Terraform Plan

        run: terraform plan -out=tfplan -no-color -input=false

      
